@{
  Layout = "_Layout";
}

@model AnniesAnesthesia.Models.Doctor

<h2>Edit</h2>

<h4>Edit this doctor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>
  @Html.LabelFor(model => model.RealHireDate)
  @Html.EditorFor(model => model.RealHireDate, new {@class="form-control", @type="date", @required="required"})

  @Html.Label("Add a Specialty")
  @Html.DropDownList("SpecialtyId")
  <br>
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>