@{
  Layout = "_Layout";
}

@model AnniesAnesthesia.Models.Patient

<h2>Edit</h2>

<h4>Edit this Patient: @Html.DisplayFor(model => model.Name)</h4>

<<<<<<< HEAD
<h4>Doctors the patient is assigned to:</h4>
<ol>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Doctor.Name</li>
  }
</ol>


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)
  <br>
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>

  @Html.LabelFor(model => model.RealBirthDate)
  @Html.EditorFor(model => model.RealBirthDate, new {@class="form-control", @type="date", @required="required"})

  <br>
  @Html.LabelFor(model => model.Ailment)
  @Html.TextBoxFor(model => model.Ailment)
  <br>
  @Html.Label("Add a doctor")
  @Html.DropDownList("DoctorId")
  <br>
  <input type="submit" value="Save" />
=======
@using (Html.BeginForm())
{
<<<<<<< HEAD
    @Html.HiddenFor(model => model.PatientId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.Label("Select Doctor")
    @Html.DropDownList("DoctorId")

    <input type="submit" value="Save" />
>>>>>>> 11c407b (adds CRUD views for patients)
=======
  @Html.HiddenFor(model => model.PatientId)
  <br>
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>
  @Html.LabelFor(model => model.Birthdate)
  @Html.TextBoxFor(model => model.Birthdate)
  <br>
  @Html.LabelFor(model => model.Ailment)
  @Html.TextBoxFor(model => model.Ailment)
  <br>
  @Html.Label("Select Doctor")
  @Html.DropDownList("DoctorId")
  <br>
  <input type="submit" value="Save" />
>>>>>>> 7430c64 (adds all patient properties to edit form)
}

<p>@Html.ActionLink("Back to list", "Index")</p>